html {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}

body {
	background-color: #F5F5DC;
	font-family: 'Oxygen', sans-serif;
	margin: 0;
	padding: 0;
	cursor: default;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	cursor: default;
	margin: 0px;
	margin-left: 5%;
}

h2 {
	margin: 10px 0px 5px 2.5%;
}

h3 {
	margin-left: 5%;
	font-size: 130%;
}

h4 {
	font-weight: bold;
	text-decoration: underline;
	margin-top: 15px;
	margin-left: 40px;
	padding: 0px;
}

h5 {
	margin-left: 3%;
	font-size: calc(0.9em + 0.3vw);
	font-weight: lighter;
}

p {
	margin: 8px;
}

/* top bar style */

#header {
	background-color: white;
	margin: 0px 0px 15px 0px;
	padding: 10px 5px 10px 5px;
	border-bottom: solid 3px black;
	border-bottom-right-radius: 80px;
	box-shadow: 6px 6px 10px -6px grey;
}

/* main quiz styles */

#quizholder {
	margin: 10px;
	background-color: white;
	border: solid black 2px;

}

.h {
	text-decoration: underline;
	font-weight: bold;
	color: #ab0000;
}

i {
	display: none;
}

/* Quiz styles */

label {
	font-size: 110%;
}

/* Buttons */
input {
	font-size: 1.5em;
}

button {
	cursor: pointer;
	font-size: 25px;
	padding: 10px 50px;
	margin: 20px;
	background-color: white;
	color: black;
	border: solid 2px black;
}

button:hover {
	box-shadow: 3px 3px 5px grey;
	background-color: #e5e5e5;
	transition: all 500ms ease; 
}

#tryagain {
	padding: 10px;
}

#trybar {
	display: block;
}
#buttons {
	display: flex;
	justify-content: space-evenly;
}

#resultsbar {
	display: none;
	background-color: white;
	border: solid black 3px;
	margin: 0px 25px 10px 25px;
	height: 120px;
	padding: 5px;
	text-align: center;
	font-size: 2em;
}

/* big quiz styles */

#startHolder {
	display: block;
	text-align: center;
	margin: 30px;
	padding: 15px 8px 5px 8px;
	background-color: white;
	border: solid black 2px;
	border-radius: 10px;
}

#quizHolder {
	display: none;
	margin: 10px;
}

#fragranceTitle {
	background-color: black;
	border-radius: 10px;
	color: white;
	font-size: 0.8em;
	width: 25%;
	margin-top: 20px;
	padding: 5px 0px 5px 15px;
}

#question {
	margin-top: 30px;
}

#buttonHolder {
	text-align: center;
}

#endHolder {
	margin: 30px;
	padding: 6px;
	background-color: white;
	border: solid black 2px;
	border-radius: 10px;
	display: none;
	text-align: center;
}

#endMessage {
	margin: 25px;
}

#timerBar {
	width: 80%;
	margin: 5% 10%;
	background-color: white;
	border: solid black 1px;
	border-radius: 5px;
}

#timerFill {
width: 0%;
height: 30px;
border-radius: 5px;
background-color: green;
}
